<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8">
    <title>分场查询</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://fastly.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/static/index.js?v=0.1"></script>
    <link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>

<body style="padding-top: 50px;">
    <div id="PCRClanBattleSearcher">
        <div class="ui borderless top fixed menu">
            <div class="ui container menu_container">
                <a class="item" href="https://clan.120224.xyz"> <img src="/static/112431.ico">
                    &#12288;hego工具箱</a>
                <div class="right menu">
                    <a class="item current_rank" href="https://clan.120224.xyz" :class="{'active' : is_current}"
                        @click="changeToCurrent()"><i aria-hidden="true" class="home icon"></i>当期会战</a>
                    <a class="item history_rank" href="https://clan.120224.xyz" :class="{'active' : is_history}"
                        @click="changeToHistory()"><i aria-hidden="true" class="calendar icon"></i>历史会战</a>
                    <a class="item" href="https://clan.120224.xyz/arena"><i aria-hidden="true"
                            class="search icon"></i>分场查询</a>
                    <a class="item" href="https://clan.120224.xyz/farm"><i aria-hidden="true"
                            class="bars icon"></i>农场信息</a>
                    <div class="ui pointing dropdown link item">
                        <i aria-hidden="true" class="comment icon"></i>意见反馈
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="http://wpa.qq.com/msgrd?v=3&uin=2332483996&site=qq&menu=yes"
                                target="_blank">QQ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui container" id="main">
            <div class="ui fluid container">
                <h3><br/>请输入游戏内13位id<br/><br/></h3>
            </div>
            <div class="ui focus input">
                <input type="number" id="id" placeholder="查询ID">
                <button class="ui button" id="b01">查询</button>
            </div>
            <div class="ui container">
                <h3>
                    <div id="myDiv"></div>
                </h3>
            </div>
        </div>

        <script>
            $(function () {
                $("#b01").click(function () {
                    $.ajax({
                        url: "arena_search",
                        type: "POST",
                        dataType: "text",
                        data: {
                            id: $("#id").val()
                        },
                        success: function (data) {
                            $("#myDiv").html(data);
                        }
                    })
                });
            })
        </script>
    </div>
</body>

</html>